<p-dialog
    [visible]="visible()"
    (visibleChange)="visible.set($event)"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [dismissableMask]="true"
    [closeOnEscape]="true"
    [showHeader]="false"
    (onHide)="onClose()"
    [style]="{ 'max-width': '32rem', width: 'calc(100vw - 2rem)' }"
    contentStyleClass="!p-0"
>
    <div class="flex flex-col max-h-[90vh]">
        <div class="flex items-center justify-between p-6 border-b border-surface-border shrink-0">
            <ng-content select="[modal-header]"></ng-content>
            <p-button
                (onClick)="visible.set(false)"
                [text]="true"
                severity="secondary"
                styleClass="!text-text-muted"
                aria-label="Close"
            >
                <i class="pi pi-times-circle"></i>
            </p-button>
        </div>
        <div
            class="p-6 flex-1 overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-track]:bg-surface-overlay [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-surface-border"
        >
            <ng-content select="[modal-body]"></ng-content>
        </div>
        <div class="shrink-0">
            <ng-content select="[modal-footer]"></ng-content>
        </div>
    </div>
</p-dialog>
