<div
    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 p-4"
    (click)="onClose()"
>
    <div
        [@modalAnimation]
        class="bg-slate-800 rounded-2xl shadow-2xl border border-slate-700 max-w-lg w-full"
        (click)="$event.stopPropagation()"
    >
        <ng-content select="[modal-header]"></ng-content>
        <div class="p-6">
            <ng-content select="[modal-body]"></ng-content>
        </div>
        <div>
            <ng-content select="[modal-footer]"></ng-content>
        </div>
    </div>
</div>
