<div class="fixed top-5 right-5 flex flex-col gap-2 z-50 max-w-md">
    @for (toast of toasts$ | async; track toast.id) {
        <div
            [animate.enter]="'toast-enter'"
            [animate.leave]="'toast-leave'"
            class="px-4 py-2 flex items-center justify-between gap-4 rounded shadow text-white font-semibold"
            [ngClass]="{
                'bg-success': toast.type === 'success',
                'bg-error': toast.type === 'error',
                'bg-info': toast.type === 'info',
                'bg-warning': toast.type === 'warning',
            }"
        >
            <div class="flex items-center gap-2">
                @if (toast.type === 'success') {
                    <i class="pi pi-check-circle"></i>
                } @else if (toast.type === 'error') {
                    <i class="pi pi-times-circle"></i>
                } @else if (toast.type === 'info') {
                    <i class="pi pi-info-circle"></i>
                } @else if (toast.type === 'warning') {
                    <i class="pi pi-exclamation-triangle"></i>
                }

                {{ toast.message }}
            </div>

            <button
                [ngClass]="{
                    'hover:bg-success-hover': toast.type === 'success',
                    'hover:bg-error-hover': toast.type === 'error',
                    'hover:bg-info-hover': toast.type === 'info',
                    'hover:bg-warning-hover': toast.type === 'warning',
                }"
                class="cursor-pointer rounded-md p-1 transition-colors duration-200"
                (click)="removeToast(toast.id)"
            >
                <i class="pi pi-times"></i>
            </button>
        </div>
    }
</div>
